<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">



    {% block head %}{% endblock %}

</head>
<body>

<div class="header">
{% if username: %}
    <form action="/"> <input type="submit" value="Home" id="Home"> </form><form id="Search" action="/Search" method="post"><input type="text" id="Input" name="query" placeholder="Search.."></form>  <form action="/Filter"> <input type="submit" value="Filters" id="Filter"> </form><form action="/MyProfile"> <input type="submit" value="{{username}}" id="Profile"> </form>
      <div id="MenuButton">	<button onclick="myFunction()"> Menu </button>	</div>
      
      <div id="Menu">	
        <a href="/MyReviews"> <button>My reviews</button></a>
        <br>
        <br>
        <a href="/Settings"> <button>Settings</button></a>
        <br>
        <br>
        <a href="/Logout"> <button>Log out</button></a>

      </div>




{% else: %}
    <form action="/"> <input type="submit" value="Home" id="Home"> </form><form id="Search" action="/Search" method="post"><input type="text" id="Input" name="query" placeholder="Search.."></form>  <form action="/Filter"> <input type="submit" value="Filters" id="Filter"> </form><form action="/Login"> <input type="submit" value="Login" id="Login"> </form>
      <div id="MenuButton">	<button onclick="myFunction()"> Menu </button>	</div>
      
      <div id="Menu">	
        <a href="/Profile"> <button>Profile</button></a>
        <br>
        <br>
        <a href="/MyReviews"> <button>My reviews</button></a>
        <br>
        <br>
        <a href="/Settings"> <button>Settings</button></a>
        <br>
        <br>
        <a href="/Logout"> <button>Log out</button></a>

      </div>
  {% endif %}
  </div>
    {% block body %}{% endblock %}


    

<script src="{{url_for('static', filename='script.js')}}">
    


</script>







</body>
</html>