{% extends 'base.html' %}
{% block head %}





{% endblock %}


{% block body %}



        
<div class="container"><img src="{{url_for('static', filename='images/' + movie.movielink)}}" class="movieicon"><div class="moviename"> {{movie.moviename}} </div> <div id="likebutton" >Like</div><br></div>     
    


<div class="releasedate">Release date: {{movie.releasedate}} </div><br>



<div class="runtime">Movie duration: {{movie.runtime}} </div><br>




<h1>Register</h1>


<form action="/Movies" method="POST" name ="review" id="review"> 
    <span><p>Review:</p></span>
    <input type="text" id="review" name="review" placeholder="review"> <br>  <!-- Added name="username" -->
    <input type="hidden" name="moviename" value="{{ movie.moviename}}">
    <br>
    <button type="submit" id="submit">Review</button>  
</form>  

<a href="/Login"> <button>Already have an account? Log in here!</button></a>

<p>{{Success}} {{error}}</p>






<h1>Reviews</h1>
    {% if reviews %}
        {% for review in reviews %}
            <div class="reviews">
                
                <form action="/Review" method="post"><input type="hidden" name="review_id" value="{{review.review_id}}">
                    <button type="submit" style="border: none; background: none; padding: 0px; ">
                    <p>Movie: {{ review.moviename }}</p>
                    <p>Review: {{ review.review }}</p>
                    <p>Time ago: {{ review.time_ago }}</p>
                    <p>Likes: {{ review.likes }}</p>   
                    
                    
                    </button></form> 

            </div>
            

        {% endfor %}
    {% else %}
        <h1>{{error}}</h1>
    {% endif %}











{% endblock %}


