
* {
    box-sizing: border-box;
    } 
    body {font-family: "Source Sans Pro", sans-serif; 
        margin-top: 90px;
        
    }
    
    a{
      color: white;
      background-color: transparent;
      text-decoration: none;
    }

    
    h2 {text-align: left; 
        font-family: "Source Sans Pro", sans-serif; 
        font-weight: bold; 
        font-size: 35px;
        border-left: 50px solid White;
    }

    h3 {font-size: 25px; 
        font-weight:bold;
    }



/* Spotlight */
    #Spotlight {background-color: DodgerBlue; 
        padding-top: 250px; 
        padding-bottom: 50px; 
        text-align: left; 
        padding-left: 50px;
        width: 100%;
        font-family: 'Arial'; 
        font-size: 35px; 
        color: white;
        border-radius: 5px;
    }


/* Header */

    .header {position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(30, 144, 255, 0.8);
        color: white;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 50px;
        display:flex;
    }

    #Home {font-size: 16px;
        padding: 12px 25px 12px 25px;
        border: 1px solid transparent;
        border-radius: 3px;
        background-color: dodgerblue;
        color: white;
        position:relative;left:-20px;
        font-weight: bold;
        cursor:pointer;
    }
    
    #Home:hover {background-color:rgb(24, 112, 201);
    }

    
    #Input {background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 400px;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 12px;
    }
    
    #Filter {font-size: 16px;
        padding: 8px 15px 8px 15px;
        border: 1px solid transparent;
        border-radius: 7px;
        margin-top: 4px;
        background-color: dodgerblue;
        color: white;
        position:relative;left:-80px;
        cursor:pointer;
    
    }
    
    #Filter:hover {background-color:rgb(24, 112, 201);
    }
    
    #Login, #Profile {font-size: 16px;
        padding: 12px 20px 12px 20px;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color: dodgerblue;
        color: white;
        position:absolute;
        right:10%;
        cursor:pointer;
    }
    
    #Login:hover, #Profile:hover {background-color:rgb(24, 112, 201);
    }
    
    

    

/* footer */
    footer {background-color: rgb(30, 144, 255); 
        text-align: center; 
        vertical-align: bottom; 
        font-size: 25px; 
        position: static;
        width: 101.2%; 
        margin-left: -10px;
        margin-bottom: -10px; 
        padding-top: 1px; 
        padding-bottom: 1px;
    }


/* scrollbar */
    ::-webkit-scrollbar {
    width: 10px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
    
    
    
/* trending movies */
    h4 {float: right;}
    
    .movielist {
        display: flex; 
        flex-wrap: wrap;
        gap: 50px;
        margin-left:50px;

        }
    .movies {
          flex: 0 1 auto; /* Adjust width for 5 items per row */          
          order: 0;
          width: auto;
          height: 360px; /* Set a fixed height for consistency */
          justify-content: center;
          margin-left: 0px;
        }
        
    .movies img {
          width: auto; /* Make the image scale to the width of its parent */
          height: 360px; /* Ensure the image fully fills the parent height */
          object-fit: contain; /* Crop the image to maintain aspect ratio */
          display: block;
          
        }
    
    
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    vertical-align: middle;
    margin-top:9%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgba(30, 144, 255,0.6);
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    }
    
    .next {
    right: 0;
    }
    
    .prev {
    left: 0;
    }
    
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    


/* reviews */
    .reviews {border: 20px solid DodgerBlue; 
        border-radius: 10px; 
        border-top: 5px solid DodgerBlue;
        background-color: DodgerBlue; 
        text-align: left; 
        width: 25%;
        margin-left: 50px;
        font-size: 19px;
        color: white;
    }
    





   
   
   /* Hamburger menu */
   .move {
    animation-name: move;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    .unmove {
    animation-name: unmove;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    @keyframes move {
    0% {
        transform: translateY(-50%);
        opacity:0;
    }
    
    
    100% {
        transform: translateY(100%);
        opacity: 1;
        height: 100%;
        pointer-events: auto;
    }
    }

    @keyframes unmove {
    0% {
    opacity: 1;
    height: 100%;
    transform: translateY(100%);
    pointer-events: none;
    }

    90% {
    transform: translateY(-50%);
    opacity:0;
    }

    100% {

    opacity: 0;

    }
    }

    #Menu{
    opacity:0;
    position: absolute; 
    right:2%;
    pointer-events: none;
    
    }

    #Menu button{
        font-size: 16px;
        color: white;
        padding: 12px 20px 12px 20px;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color: dodgerblue;
        cursor:pointer;
        width: 100%; /* Set a fixed width */
        box-sizing: border-box; /* Include padding and borders in the width */
        text-align: center; /* Align text in the center */
  
    }

    #MenuButton button{
        font-size: 16px;
        color: white;
        padding: 12px 20px 12px 20px;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color: dodgerblue;
        position:absolute;
        right:2%;
        cursor:pointer;
    }
    
    #MenuButton:hover {background-color:rgb(24, 112, 201);
    }



/* Movie info (page) */
    .movieicon{
        height: 360px;
        width:auto;
        margin-top: 25px;
        margin-left: 50px;
        margin-bottom:20px;
        border-width: 0px; 
        border-radius: 5px;

    }
    .moviename{
        font-weight: bold; 
        font-size: 40px;
        margin-top: 25px;
        
    }
    #likebutton{
        right:100px;
        font-weight: bold; 
        font-size: 30px;
        margin-top: 25px;
        border-radius: 15px; 
        border-width: 5px;
        padding: 6px 0px 6px 0px;
        background-color: #FF66CC;
        cursor:pointer;
        width:150px;
        height:50px;
        text-align: center; 
   }
    #likebutton.liked{
        background-color: #FF66AA;
        width:150px;
        text-align: center; 
        color:white;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }

    .runtime, .releasedate{
        margin-left: 50px;
        font-weight: bold;



    }



/* Search page results */
.movieresults{
    background-color: #c5c5c5;
    padding: 10px;
    width: 95%;
    margin:auto;



}
.movieresults img {
    width: 200px; /* Make the image scale to the width of its parent */
    height: auto; /* Ensure the image fully fills the parent height */
    object-fit: contain; /* Crop the image to maintain aspect ratio */
    float:left;
    
  }

.movieinfo {
    float:left;
    margin-left:10px;

}

